version: '2'
services:
  flask-app:
    build: .
    ports:
      - 5000:5000
    volumes:
      - /home/faustovaz/projects/docker/flask-docker-sample/app:/home/fausto/flask-app
    image: "flask-app:v1.0"
    environment:
      - DEBUG=1
